<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--  -->
	<bean name="foo" class="com.varxyz.jvx330.di.example.Foo">
		<constructor-arg ref="bar"/>
	</bean>
	
	<!-- set으로 가져오기 -->
	<bean name="foo2" class="com.varxyz.jvx330.di.example.Foo">
		<property name="bar" ref="bar"/> <!-- name: / ref: Bar 클래스 받아오기 -->
	</bean>
	
	
	<bean name="bar" class="com.varxyz.jvx330.di.example.Bar"/>

</beans>
