@charset "UTF-8";
/* 공지 작성, 수정페이지 */
button {
  font-size: 11px;
  border: none;
  background-color: tomato;
  color: white;
  margin-bottom: 20px;
  margin-top: 22px;
}

.container {
  margin: 0 auto;
}
.container .detail_wrapper {
	text-align: center;
}

.headline_artworks {
	margin-top: 60px;
}
.side_block{
	padding: 30px 0;	
}
.btn_group2{
	display: flex;
	justify-content: center;
	align-items: center;
}

.ck.ck-editor__editable_inline>:last-child{
	height: 300px;
}