<!doctype html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="text/html; charset=UTF-8"/> >
    <title>스프링부트 웹서비스</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1>스프링부트로 시작하는 웹서비스</h1>
</body>
</html>