<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean name="member" class="com.varxyz.jvx330.di.example3.Member">
	<constructor-arg index="0" type="String" value="java"/>
	<constructor-arg index="1" type="String" value="유비"/>
</bean>

<bean name="memberDao" class="com.varxyz.jvx330.di.example3.MemberDao"/>

<bean name="memberService" class="com.varxyz.jvx330.di.example3.MemberService">
	<constructor-arg index="0" ref="memberDao"/>
</bean>

</beans>
