@charset "UTF-8";

.input_box_left input {
  margin-bottom: 10px;
}

.content_block .review .textarea_box {
  display: flex;
  justify-content: center;
}

.content_block .review .textarea_box {
  width: 832px!important;
  height: 300px;
  background-color: #f5f5f5;
}

.content_block .review .upload_box {
  width: 832px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  margin-top: 5px;
  margin-bottom: 20px;
}

.content_block .review .upload_box input {
  margin-left: 60px;
}

.info .info_block {
  margin-bottom: 15px!important;
}

.info .info_block input {
  width: 500px!important;
}

.button_wrap .btn_group {
  margin-top: 30px!important;
}

.btn_group2 {
  text-align: center;
  padding-bottom: 200px;
}

.btn2 {
  font-size: 15px;
  color: white;
  background-color: #333;
  width: 140px;
  height: 38px;
}

.btn2:hover {
  background: tomato;
}

.btn1:hover {
  background: #333!important;
}

.product {
  margin-bottom: 100px!important;
}
